*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-size: 1.5rem;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: #D61C4E;

}

.form{
    background-color: #F7EDDB;
    padding: 10vh;
    box-shadow:0 4vh 8vh  #000;
    border-radius: 2vh;
    margin: 2%;
    
}

.score{
    text-align: right;
    padding: 3%;
    margin: 2%;
}

h1{
    padding: 3%;
    margin: 2%;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    padding: 0.50rem;
    border:  solid 2px black;
}

.input::placeholder{
    color: lightgray;
    font-family: cursive;
}

.btn{

    background-color: #D61C4E ;
    color: white;
    display: block;
    width: 100%;
    padding: 5%;
    margin: 5% 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.btn:hover {background-color: #EC7272}

